<!DOCTYPE html>
<html lang="nl">
  <body>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>PlantSwap Trivia</title>
      <link rel="stylesheet" href="./styles.css" />
      <script
        type="module"
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js"
        defer
      ></script>
      <script type="module" src="./script.js" defer></script>

      <script type="text/javascript" src="./chart.js" defer></script>

      <link rel="preconnect" href="https://fonts.googleapis.com" />
    </head>
    <nav>
      <a href="/">Home</a>
      <div class="interceptor-selector">
        <button aria-expanded="false" type="button" class="dropdown-toggle">
          Choose an interceptor
        </button>
        <ul class="interceptor-dropdown" accesskey="ArrowDown">
          <li>
            <a href="interceptor-001" accesskey="ArrowDown">Interceptor 001</a>
          </li>
          <li><a href="interceptor-002">Interceptor 002</a></li>
          <li><a href="interceptor-003">Interceptor 003</a></li>
          <li><a href="interceptor-004">Interceptor 004</a></li>
          <li><a href="interceptor-005">Interceptor 005</a></li>
          <li><a href="interceptor-006">Interceptor 006</a></li>
          <li><a href="interceptor-007">Interceptor 007</a></li>
          <li><a href="interceptor-008">Interceptor 008</a></li>
          <li><a href="interceptor-009">Interceptor 009</a></li>
          <li><a href="interceptor-010">Interceptor 010</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
