<%- include('./partials/head') %>
<div class="interceptor-selector">
  <button aria-expanded="false" type="button" class="dropdown-toggle">
    Choose an interceptor
  </button>
  <ul class="interceptor-dropdown" accesskey="ArrowDown">
    <li><a href="#active" accesskey="ArrowDown">Interceptor 001</a></li>
    <li><a href="#active">Interceptor 002</a></li>
    <li><a href="#active">Interceptor 003</a></li>
    <li><a href="#active">Interceptor 004</a></li>
    <li><a href="#active">Interceptor 005</a></li>
    <li><a href="#active">Interceptor 006</a></li>
    <li><a href="#active">Interceptor 007</a></li>
    <li><a href="#active">Interceptor 008</a></li>
    <li><a href="#active">Interceptor 009</a></li>
    <li><a href="#active">Interceptor 010</a></li>
  </ul>
</div>
<%- include('./partials/foot') %>
