<%- include('./partials/head') %>

<section class="interceptor-introduction">
  <div class="interceptor-introduction-text">
    <h2>What is an interceptor?</h2>
    <p>
      The Interceptor Original is a barrier and conveyor belt system that
      concentrates and extracts plastic from rivers.
    </p>
  </div>
  <img
    class="interceptor-footer-img"
    loading="lazy"
    src="./assets/TOC-Great_Pacific_Garbage_Patch_infographic_key_numbers.png"
    alt="interceptor 001"
  />
</section>

<%- include('./partials/foot') %>
