<%- include('./partials/head') %>

<div class="interceptor-introduction">
  <h2>What is an interceptor?</h2>
  <p>
    The Interceptor Original is a barrier and conveyor belt system that
    concentrates and extracts plastic from rivers.
  </p>
</div>
<%- include('./partials/foot') %>
