<%- include('./partials/head') %>
<h2>This interceptor cleanup APIkg of plastic in total</h2>
<ul class="chartlist">
  <li>
        <!-- De span is zodat ik iedere bar individueel kan stylen -->
    <a href="#graph-details"><span class="day-counter">Day 1</span><span class="plastic-count">Number of plastic cleaned</span></a>
  </li>
  <li>
    <a href="#graph-details"><span class="day-counter">Day 2</span><span class="plastic-count">number of plastic cleaned</span></a>

    </li>
  <li>
    <a href="#graph-details"><span class="day-counter">Day 3</span><span class="plastic-count">number of plastic cleaned</span><a>
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 4</span><span class="plastic-count">number of plastic cleaned</span><a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 5</span><span class="plastic-count">number of plastic cleaned</span><a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 6</span><span class="plastic-count">number of plastic cleaned</span><a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 7</span><span class="plastic-count">number of plastic cleaned</span><a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 8</span><span class="plastic-count">number of plastic cleaned</span><a>
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 9</span><span class="plastic-count">number of plastic cleaned</span><a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 10</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 11</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 12</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 13</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 14</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 15</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 16</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 17</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 18</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 19</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 20</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 21</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 22</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 23</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 24</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 25</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 26</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 27</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 28</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 29</span><span class="plastic-count">number of plastic cleaned</span></a
    >
  </li>
  <li>
    <a href="#graph-details"> <span class="day-counter">Day 30</span><span class="plastic-count">number of plastic cleaned</span></a>
    
  </li>
</ul>
<%- include('./partials/foot') %>
