/* .interceptor-selector {
    position: relative;
}

.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgb(176, 193, 243);
}
.interceptor-dropdown {
    position: absolute;
    
    display: none;
}
.interceptor-dropdown.show {
    display: block;
}
.interceptor-dropdown a {
    display: block;
}
.interceptor-dropdown a:hover,
.interceptor-dropdown a:focus {
    background-color: #f5f5f5;
}
.interceptor-dropdown a:active {
    background-color: royalblue;
    color: #fff;
}
 */

 /* graph styling */
 .chartlist{
    position: relative;
   padding-left: 0;
   border-left: 1px solid black;
 }
 .chartlist > li { 
    display: flex;
    flex-direction: column;
   list-style-type: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 1rem 0 1rem 0;
    
  }
  .chartlist :nth-child(even){
    border-top: 0;
    border-bottom: 0;
  }


li > a{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-decoration: none;
}

.chartlist > li:hover{
    background-color: lightblue;
}
.day-counter{
    width:100%;
}
.day-counter:hover{
    font-weight: bold;
}