*{
    overflow-x: hidden;
    box-sizing: border-box;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;

}
html{
    /* PE dit is zodat alles waar automatisch naar toe gegaan wordt op een scrollende manier gebeurt */
    /* op deze manier raakt de gebruiker minder snel verdwaald op de website omdat ze hebben gezien waar ze naar toe worden gebracht */
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

/* general text styling */

:root{
    /* font sizes */
    --h1-fontsize:2.7rem;
    --h2-fontsize:2.4rem;
    --general-text-fontsize:2rem;
    /* colors */
    --primary-color-white: #FFFFFF;
    --secondary-dark-blue: #003755;
    --tertriary-light-blue: #01CBE1;
}

/* mav styling */
nav{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    top: -1rem;
}
.home-button{
    
    font-size: var(--h1-fontsize);
    padding: .5rem;
    background-color: var(--tertriary-light-blue);
    border: 1px solid var(--tertriary-light-blue);
    
   
}
.home-button > a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color-white);
}
.home-button > a > span{
    font-size: var(--general-text-fontsize);
    font-weight: lighter;
}
.interceptor-selector {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#003755, #01CBE1);
    border-radius: 4px;
    
  
}

.interceptor-selector > button{
    background-color: var(--secondary-dark-blue);
    color: var(--primary-color-white);
}



.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgb(176, 193, 243);
}
.interceptor-dropdown {
    list-style: none;
    display: none;
    text-align: center;
    padding: 0;
   
}

.interceptor-dropdown > li > a{
    color: var(--primary-color-white);
}

.interceptor-dropdown.show {
    display: block;
}
.interceptor-dropdown a {
    display: block;
}

.interceptor-dropdown li:hover {
    background-color: royalblue;
    color: #fff;
}
.dropdown-toggle{
    padding: 1rem;
    font-size: var(--h2-fontsize);
    display: flex;
}

.dropdown-toggle > svg{
    position: relative;
    margin-top: 1.5rem;
}
/* introduction stlying */

.interceptor-introduction{
    position: relative;
    display: flex;
    flex-direction: column;
}

.interceptor-introduction-text{
    position: relative;
    text-align: center;
    background-color: var(--secondary-dark-blue);
    top: -1rem;
    padding: .5rem;
    color: var(--primary-color-white);
    max-width: 50rem;
}
.interceptor-introduction-text > h2{
    font-size: var(--h2-fontsize);
}

.interceptor-introduction-text > p{
    font-size: var(--general-text-fontsize);
}
/* interceptor header */

.interceptor-header-img{
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

 /* graph styling */

 .plastic-total{
    font-size: var(--h2-fontsize);
    position: relative;
    margin: 0;
    background-color: var(--tertriary-light-blue);
    color: var(--primary-color-white);
    padding: 2rem 1rem 1rem 2rem;
 }

 .graph-introduction{
    font-size: var(--general-text-fontsize);
    padding: 1rem 1rem 1rem 2rem;
    top: 0;
    background-color: var(--tertriary-light-blue);
    color: var(--primary-color-white);
 }
 .chartlist{
    position: relative;
   padding-left: 0;
   border-left: 1px solid black;
 
 }
 .chartlist > li { 
    display: flex;
    flex-direction: column;
   list-style-type: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: .1rem;
   

    
  }
  .chartlist :nth-child(even){
    border-top: 0;
    border-bottom: 0;
  }


li > a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: var(--general-text-fontsize);
    overflow-y: hidden;
}

.chartlist > li:hover{
    background-color: #8ed1fc;
    transform: scale(1.01);

}
.day-counter{
    width:50%;
    background-color: var(--secondary-dark-blue);
    padding: 2rem;
    
    color: var(--primary-color-white);
}
.day-counter:hover{
    font-weight: bold;
}
.plastic-percentage{
    position: absolute;
    left: -99999999px;
}
.plastic-count{
position: relative;
top: 2rem;
left: -2rem;
color: var(--secondary-dark-blue);
}

/* plastic representation styling */

.plastic-rep > h2{
    font-size: var(--h2-fontsize);
}
.plastic-rep{
    font-size: var(--general-text-fontsize);
    padding: 1rem 1rem 1rem 2rem;
    display: none;
    background-color: var(--tertriary-light-blue);
    color: var(--primary-color-white);
    margin-bottom: 1rem;
   
}

.plastic-rep.show {
    display: block;
}

/* location and map styling */

.interceptor-location{
    padding: 1rem;
    background-color: var(--secondary-dark-blue);
    color: var(--primary-color-white);
}

@media (min-width: 680px){
    .interceptor-selector{
        max-width: 40rem;
    }
    
    .dropdown-toggle > svg{
        position: relative;
        margin:0 0 0 1rem;
    
    }

    .interceptor-introduction{
        margin-top: 5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .interceptor-footer-img{
        max-height: 45rem;
     
    }

    .plastic-total{
        padding-right: 50vw;
    }
    .graph-introduction{
        padding-right: 50vw;
    }

    .plastic-rep{
        padding-right: 50vw;
    }

}